@charset "UTF-8";

.grid-cell{
	padding: 2px 4px;
}

.grid-cell:disabled{
	border: 1px solid #ddd;
	background-color: #fff;
}
.grid-cell.grid-active{
	border: 1.2px solid #bbb;
	color: #3C8DBC;
}
.grid-cell.grid-active:focus{
	border-color: #3C8DBC;
}
.grid-cell.grid-changed{
	border-color: #f39c12;
	color: #f39c12;
}
.grid-cell.grid-saved{
	border-color: #00a65a;
	color: #00a65a;
}
.grid-cell.grid-error{
	border-color: #D73925;
	color: #D73925;
}

.modify-column{
	display: block;
}

.modify-column i{
	font-size: 16px !important;
	margin-left: 5px;
	vertical-align: text-bottom
}

.popover{
	max-width: 500px;
}

.popover input[type="text"]{
	width: 60px;
	text-align: center;
}
