*.zip
*.log
*.doc
*.docx
*.swf
*.ori
*.old
*.xls
*.pdf
*.sql
*.csv
error_log
scan_files_by_date.php
scan_for_string_evo.php
delme*.php
/_sources/
/_mysql/
/_confronta/

logs/*
!logs/index.html 

cache/*
!cache/index.html 

reports/*
!reports/index.html 

xls/*
!xls/index.html 

photo/*
!photo/index.html 

* - Copia*.*
_*/

phpExcelClass/
system/*.utime

images/*.*
favicon.ico

**/PHPMailer
